*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
src/main/res/values-sr-rRS/
src/main/java/com/passengerapp/TODO.txt
src/main/java/com/passengerapp/TestClass.java
src/main/java/org/unibl/etf/blbustracker/TODO.txt
src/main/java/com/blbustracker/TestClass.java

libs/
/app/release/
